<!-- Header-->
<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1 htext"><br>Bernadette</h1>
        <h3 class="mb-5 htext"><em>Historia de las apariciones</em></h3>
        <a class="btn btn-primary btn-xl" href="#about">Más información</a>
    </div>
</header>
<!-- About-->
<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5 text-justify">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-20">
                <h2>Los comienzos</h2>
                <p class="lead mb-5">
                    Todo empezó en este « reducto »: un cuarto sórdido, insalubre y sombrío de 4,40 × 4 m, una
                    «pocilga».
                    Se le designaba con el lúgubre nombre del <span class="negrita">« Calabozo »</span>, porque sirvió
                    durante algún tiempo de
                    cárcel. Las autoridades penitenciales pensaron que era demasiado cruel alojar allí seres humanos,
                    por lo que los prisioneros fueron transferidos a otros locales menos malsanos.
                    Pero cuando se está arruinado, sin trabajo, enfermo, con mujer y cuatro hijos para mantener, uno se
                    contenta con lo que puede. Y así fue como Francisco Soubirous, el antiguo molinero del molino de
                    Boly, su mujer, Luisa Castérot, sus dos hijas: Bernadette y Toñeta, y sus dos hijos: Juan-María y
                    Justino, se instalaron con sus miserables muebles en el Calabozo, un día de mayo de 1856.<br><br>
                    En el <span class="negrita">Calabozo</span> aunque pobremente, se vive. O más bien, se llega a
                    sobrevivir. Gracias a algunos
                    trabajos de Francisco, el padre; de algunas faenas de Luisa, la madre; de recoger leña para
                    calentarse, como igualmente algunos huesos para venderlos por algunas monedas; y sobre todo
                    economizando; ¡y a veces sin comer nada !... Tanto más que en 1856, el hambre devoró a Lourdes y a
                    toda la región.
                    A pesar de todo ello, dos lucecitas en el fondo de estos corazones, transfiguran tan pobre vivienda:
                    se quiere uno mucho, y se quiere a Dios sobre todo. En septiembre de 1857, María Laguës, que fue la
                    nodriza de Bernadette, propuso traérsela con ella para guardar los rebaños y hacerse cargo de los
                    niños. Allí ganará algún dinero y será sólidamente alimentada. Su antigua nodriza, a pesar de su
                    rudeza, es muy cariñosa con ella y a menudo Francisco recorrerá los 3 km que separan Lourdes de
                    Bartrès, poco más o menos: padre e hija se encontrarán. Nada de todo esto consigue apaciguar la
                    nostalgia de Bernadette, y hacia fines de enero vuelve al calabozo entre los suyos. Además quiere
                    preparar como es debido su Primera Comunión, para lo cual ya lleva retraso… Pasan unos cuantos días…
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="content-section bg-light" id="historia">
    <div class="container px-4 px-lg-5 text-justify">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-20">
                <h2>Historia de las Apariciones</h2>
                <p class="lead mb-5"><br>
                    Bernadette Soubirous, una adolescente pobre y analfabeta de catorce años de edad, aseguró haber
                    visto en
                    dieciocho ocasiones a la Virgen María en una gruta del paraje de Massabielle, al occidente de
                    Lourdes
                    entre el 11 de febrero y el 16 de julio de 1858.<br><br><br>

                    En la tercera aparición, la niña dijo haber hablado con la Señora la que le preguntó: </p>
                <p class="lead mb-5 italic negrita text-center">"¿Me haría
                    usted el favor de venir aquí durante quince días?"</p>
                <p class="lead mb-5"> Y ella le prometió que así lo haría. A su vez,
                    la
                    Señora le anunció que no le prometía hacerla feliz en este mundo, sino en el
                    otro.<br><br></p>
            </div>

            <div class="btnapar">
                <a class="btn btn-primary btn-xl btnapar" href="#apar1">1º Aparición</a>
                <a class="btn btn-primary btn-xl btnapar" href="#apar2">2º Aparición</a>
                <a class="btn btn-primary btn-xl btnapar" href="#apar3">3º Aparición</a>
                <a class="btn btn-primary btn-xl btnapar" href="#apar4">Quincena milagrosa</a>
                <a class="btn btn-primary btn-xl btnapar" href="#apar5">Última Aparición</a>
            </div>
            <br>

        </div>
    </div>
</section>
<!-- APAR 1-->
<section class="content-section bg-primary text-white" id="apar1">
    <div class="container px-4 px-lg-5 text-left">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-20">
                <h2>Primera Aparición - 11 de febrero de 1858</h2>
                <p class="lead mb-5">
                    El jueves 11 de febrero de 1858, hacia las once de la mañana, Luisa Soubirous se pone a preparar la
                    escasa comida de la familia. Pero, sorpresa: ¡No queda más leña! Bernadette fue a recogerla, a
                    orillas del Gave, con otras dos pequeñas : Toñeta, su hermana, y una amiga, llamada Baloume. Se han
                    provisto también de un viejo cesto: ¿quién sabe? Quizás con la leña se encuentren algunos viejos
                    huesos que puedan venderse para comprar pan. <br>
                    Llegan a la desembocadura del Canal en el Gave. Ya no pueden ir más lejos. Y precisamente, en una
                    especie de Gruta que las mismas aguas han excavado en Massabielle, al otro lado del canal, descubren
                    algo de leña seca y algunos huesos... Hay que atravesar el agua helada; Bernadette, que sufre de
                    asma, duda, <span class="italic">..."Volví hacia la Gruta y me puse a descalzarme...cuando oí un
                        ruido como si el viento se hubiese levantado. Sin embargo, los árboles no se movían. Así pues,
                        proseguí la tarea de descalzarme.
                        Volví a oír el mismo ruido. Levanté la cabeza para mirar a la Gruta. Vi a una Señora vestida de
                        blanco. Llevaba un vestido blanco, un cinturón azul y una rosa amarilla sobre cada uno de sus
                        pies, del color de la cadena de su rosario. Creía equivocarme. Me froté los ojos. Todo en vano:
                        seguía
                        viendo a la misma Señora. Entonces metí la mano en el bolsillo y tomé mi rosario. Quería
                        santiguarme pero me fue imposible llevar la mano hasta la frente; mi mano cayó. El pasmo se
                        apoderó completamente de mí. La Señora tomó el rosario que tenía entre sus manos e hizo la Señal
                        de la
                        Cruz.
                        A mi vez, intenté hacerlo por la segunda vez y lo logré. En el momento en que hube acabado de
                        santiguarme, el gran terror que había experimentado hasta entonces, desapareció como por
                        encanto. Me puse de rodillas. Recé mi Rosario, teniendo siempre a la Señora delante de mis ojos.
                        Ella pasaba
                        las cuentas del suyo, pero no movía los labios. Cuando lo hube acabado, me hizo seña para que me
                        aproximase pero yo fui incapaz de hacerlo, quedándome en el mismo sitio. Entonces
                        desapareció."</span>
                </p>

            </div>
        </div>
    </div>
</section>
<!-- APAR 2-->
<section class="content-section bg-light" id="apar2">
    <div class="container px-4 px-lg-5 text-left">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-20">
                <h2>Segunda Aparición - 14 de febrero</h2>
                <p class="lead mb-5">
                    <br> <br>El domingo siguiente, <span class="italic">"...me sentía con prisa interiormente. Quería
                        ver también si no me había
                        equivocado. Mi madre me había prohibido volviese allí. Finalmente me acordó el permiso de ir con
                        varias niñas. Fui a la parroquia para tomar agua bendita en una botella pequeña, a fin de poder
                        rociar con ella a la Visión, una vez en la Gruta, en el caso de que la viese... <br> <br> Nos
                        pusimos en
                        camino hacia la Gruta. Llegadas a la misma, cada una tomó su rosario, poniéndonos de rodillas
                        para
                        rezarlo. Apenas si acababa yo el primer Misterio, cuando volví a ver a la misma Señora; entonces
                        me
                        puse a lanzarle agua bendita, diciéndole al mismo tiempo, que si venía de parte de Dios, se
                        quedase,
                        y si no, que se fuese. <br> <br>Se puso a sonreir y a inclinarse, y cuanta más agua bendita le
                        lanzaba yo,
                        más sonreía ella e inclinaba la cabeza. Entonces, sobrecogida por el pánico, me daba más prisa
                        en
                        rociarla, y así lo hice hasta acabar la última gota de mi botella… después proseguí el rezo del
                        Rosario; cuando lo hubimos acabado, la Señora desapareció y nosotras nos retiramos para acudir
                        al
                        Oficio de Vísperas."</span>
                    <br> <br><br> <br><br> <br><br> <br>


                </p>
            </div>
        </div>
    </div>
</section>
<!-- APAR 3-->
<section class="content-section bg-primary text-white" id="apar3">
    <div class="container px-4 px-lg-5 text-left">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-20">
                <h2>Tercera Aparición - Jueves 18 de febrero</h2>
                <p class="lead mb-5">

                    <br> <br>Los padres de Bernardita empezaron a creerle ya que ella jamás había mentido y se
                    caracterizaba por su obediencia. Además los convenció la naturalidad con que ella exponía los
                    eventos y sus mas pequeños pormenores.<br> <br>

                    El jueves 18 de febrero, tuvo lugar la tercera Aparición. <span class="italic">"La segunda vez (la
                        Señora) se me apareció
                        sin decirme nada. Solamente me habló a la tercera vez. ... Volví (a la Gruta) con algunas
                        personas
                        mayores ..."</span> Después de rezar algunas Avemarías, lanzó un grito de júbilo al ver al fondo
                    de la gruta a la Señora. Le preguntó si se podían quedar sus dos acompañantes y la Virgen dijo
                    que sí. Ellas también se arrodillaron y se pusieron a rezar mientras encendían un cirio
                    bendito. <br> <br>

                    Bernardita le pasó un papel a la Virgen pidiéndole que escribiera cualquier cosa que
                    deseaba comunicarle.<br> <br>

                    La Virgen le dijo: <span class="italic negrita">"Lo que tengo que comunicarte no es necesario
                        escribirlo, hazme
                        únicamente el regalo de venir aquí durante quince días seguidos".</span> Bernardita se lo
                    prometió y la
                    Virgen le respondió:<span class="italic negrita"> "Yo también te prometo hacerte dichosa, no
                        ciertamente en este mundo,
                        sino en el otro."</span><br> <br><br><br> <br>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="content-section bg-light ver15" id="apar4">
    <div class="container px-4 px-lg-5 text-left">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-20">
                <br> <br>
                <h2 style="text-align: center;">¿Me harías la gracia de venir a la Gruta durante 15 días?</style>
                </h2>
                <br> <br>
                <p class="lead mb-5 ">Las apariciones de estos quince días siguientes se sucedieron desde el 19 de
                    febrero hasta el 25 de
                    marzo y formaron para Bernadette como un bloque uniforme.<br> <br>
                    A pesar de las dificultades y de los obstáculos, Bernadette acudirá con fidelidad a la Gruta durante
                    estos quince días; la Visión se le apareció todos los días, excepto un lunes o un viernes.<br> <br>
                    <span class="italic">"En el espacio de estos quince días me confió tres secretos, prohibiéndome los
                        revelase a nadie."</span>
                </p>
                <br> <br>
                <div style="text-align: center;">
                    <a class="btn btn-dark btn-xl" href="#services2">Las más importantes</a>
                </div>
                <br> <br><br> <br>
            </div>
        </div>
    </div>
</section>

<section class="content-section cardcontain" id="services2">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Viernes 19 y Sábado 20</div>
                            <p class="mb-0">Las apariciones se desarrollan dentro de la simplicidad del éxtasis. Rezo
                                del Rosario. Gozo y tristeza, se suceden alternativamente sobre el rostro de Bernadette.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid lour1" src="images/lourdesgente.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">24 y 25 de febrero</div>
                            <p class="mb-0">El mensaje dado a la niña fue <span class="italic">"Penitencia... Ruega por
                                    la conversión de los
                                    pecadores... Ve a beber a la fuente y lávate en ella..."</span> Le señala que la
                                fuente estaba
                                bajo la roca...</p>
                        </div>
                    </div>
                    <img class="img-fluid lour2" src="images/iglesia.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Martes 2 de marzo</div>
                            <p class="mb-0"><span class="italic">"Ve a decir a los sacerdotes que se venga aquí en
                                    procesión... y se haga construir una Capilla aquí mismo"</span></p>
                        </div>
                    </div>
                    <img class="img-fluid lour2" src="images/monjas.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">25 de marzo <span class="italic negrita">"Yo soy la Inmaculada
                                    Concepción"</span></div>
                            <p class="mb-0">Después de 15 días le pregunté otra vez (quién era ella)... No hacía más que
                                sonreirme. Al final separó sus manos juntas, ... y me dijo que ella era la Inmaculada
                                Concepción.</p>
                        </div>
                    </div>
                    <img class="img-fluid lour1" src="images/iglesialour.jpg" alt="..." />
                </a>
            </div>
        </div>
    </div>
</section>



<!-- APAR 5-->
<section class="content-section bg-light ver5 align-image: top" id="apar5">
    <div class="container px-4 px-lg-5 text-left">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-20">
                <h2>Última Aparición - Viernes 16 de julio</h2>
                <p class="lead mb-5">
                    Fue el día 16 de Julio, fiesta de Nuestra Señora del Monte Carmelo. Bernadette se siente de nuevo
                    movida a ir a la gruta, que desde el 15 de junio está cercada, vigilada y prohibida. Bernadette se
                    quedará pues, con su tía Lucila, del otro lado del Gave. Pero ¿qué importan las empalizadas?<span
                        class="italic"> "Me
                        pareció estar en la Gruta"</span> dirá Bernadette después del éxtasis.
                    Al recibir la ultima visita de la Virgen diría: <span class="italic">"Nunca se había aparecido tan
                        gloriosa."</span><br> <br>

                    Tales son los hechos de Massabielle, presentados en la medida de lo posible, con la misma sobriedad,
                    con el mismo despojamiento de toda literatura con los que la misma Bernadette los explicaba. No hay
                    que añadir nada más.<br> <br>

                    A los que vienen a Massabielle, con alma de pobre, como Bernadette la pobre, la Buena Nueva de la
                    Salvación, sigue siendo anunciada. Esto es "la gracia de Lourdes". Y cuando han conocido esta
                    gracia, jamás pueden olvidarla: su pensamiento, su más íntima oración, incluso si están lejos de
                    Lourdes, se reúnen irresistiblemente en la Gruta: "¡Allí es, escribirían de buena gana como
                    Bernadette,
                    donde me encontraréis en espíritu, como atada al pie de esta roca que tanto amo!... <span
                        class="negrita">La Gruta era mi
                        cielo!"</span>
                    <br> <br> <br> <br><br> <br>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="content-section bg-primary text-white text-center padding=70px 0" id="services">
    <div class="container px-4 px-lg-1">
        <div class="content-section-heading">
            <h2 class="text-secondary mb-0">Fotos</h2>
            <h2 class="mb-4 text-shadow">Lourdes</h2>

            <body>
                <input type="radio" name="position" checked />
                <input type="radio" name="position" />
                <input type="radio" name="position" />
                <input type="radio" name="position" />
                <input type="radio" name="position" />
                <input type="radio" name="position" />

                <main id="carousel2">
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                </main>


            </body>



        </div>
    </div>
</section>

<!-- Inicio sección Novedades-->
<div id="novedades" class="row my-4">
    <div class="col-md-5 offset-md-2 py-2">
        <h2>Actividades en el Santuario</h2><br>
        <ul class="lista-novedades">
            {{#each novedades}}
            <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{id}}">{{titulo}}<img src="{{imagen}}"></a>
            </li>
            {{/each}}
        </ul>
    </div>
    <!--cierra noveddades-->
    {{#each novedades}}
    <!-- Inicia Modal-->
    <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">{{titulo}}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Subtítulo</h3>
                    <img src="{{imagen}}" alt="">
                    <p>Cuerpo</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal-->
    {{/each}}


    <div class="container px-4 px-lg-5 text-center">
        <div class="container2">
            <h2 class="mb-4">¿Querés saber más...?</h2>
            <a class="btn btn-primary btn-xl btnapar" href="https://www.lourdes-france.org/">Sitio oficial de
                Lourdes-Francia</a>
        </div>
    </div>






    <!-- Inicio de mapa + formulario -->
    <div id="contact" class="row py-4 scroll_section">
        <div class="col-md-4 offset-md-2">
            <h2>Visitanos</h2>
            <div class="mapa py-2">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.337443962659!2d-0.06048078515718243!3d43.09742289620953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd57d69e4e7e1967%3A0xa40981de7e97a5c5!2sSanctuaires%20Notre-Dame%20de%20Lourdes!5e0!3m2!1sen!2sar!4v1669245591471!5m2!1sen!2sar"></iframe>
            </div>
        </div> <!-- cierra el div con id=visitanos -->

        <div class="col-md-4 mt-4 mt-sm-0">
            <h2>Contactanos</h2>
            <form class="row g-2">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido">
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email">
                </div>
                <div class="col-12">
                    <label for="tel" class="form-label">Tel</label>
                    <input type="text" class="form-control" id="tel" placeholder="..." name="tel">
                </div>
                <div class="col-12">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
                <p>{{ message }}</p>
            </form>
        </div> <!-- cierra el div con id=conocenos -->
    </div> <!-- Fin de mapa + formulario -->


    <footer>
        <p class="text-center">Diseñado por: María Josefina Villafañe 2022</p>
    </footer>
</div>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/javascripts/scripts.js"></script>
</body>

</html>